doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(http-equiv='Access-Control-Allow-Origin', content='*')
    title 图书信息
    // Set render engine for 360 browser
    meta(name='renderer', content='webkit')
    // No Baidu Siteapp
    meta(http-equiv='Cache-Control', content='no-siteapp')
    link(rel='icon', type='image/png', href='../assets/i/favicon.png')
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='icon', sizes='192x192', href='../assets/i/app-icon72x72@2x.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Amaze UI')
    link(rel='apple-touch-icon-precomposed', href='../assets/i/app-icon72x72@2x.png')
    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage', content='../assets/i/app-icon72x72@2x.png')
    meta(name='msapplication-TileColor', content='#0e90d2')
    link(rel='stylesheet', href='../assets/css/amazeui.min.css')
    link(rel='stylesheet', href='../assets/css/app.css')
    link(rel='stylesheet', href='../css/booktype.css')
    style.
      li {
      list-style-type: none;
      }
      .book-cover {
      width: 9rem;
      height: 12rem;
      }
      .info {
      padding-left: 11rem;
      line-height: 2rem;
      font-size: 1.3rem;
      color: #a4a4a4;
      }
      .info .title {
      max-height: 4.8rem;
      line-height: 2.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #5b5b5b;
      white-space: normal;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      }
      .admin-menu {position: fixed;  z-index: 999;  bottom: 40px;  right: 20px;}
  body
    header.am-topbar.am-topbar-fixed-top
      .am-container
        h1.am-topbar-brand
          a(href='#') 蓝剑图书馆
        button.am-topbar-btn.am-topbar-toggle.am-btn.am-btn-sm.am-btn-secondary.am-show-sm-only.am-collapsed(data-am-collapse="{target: '#collapse-head'}")
          span.am-sr-only 导航切换
          span.am-icon-bars
        #collapse-head.am-topbar-collapse.am-collapse(style='height: 20px;')
          ul.am-nav.am-nav-pills.am-topbar-nav
            li
              a(href='../home.html') 首页
            li.am-active
              a(href='#') 图书清单
          .am-topbar-right
            button.am-btn.am-btn-secondary.am-topbar-btn.am-btn-sm
              span.am-icon-pencil
              |  注册
          .am-topbar-right
            button.am-btn.am-btn-primary.am-topbar-btn.am-btn-sm
              span.am-icon-user
              |  登录
    // 在这里编写你的代码
    .am-cf.admin-main
      form#form-bookinfo.am-form(data-am-validator='')
        // content start
        .admin-content
          .admin-content-body
            ul.am-list
              // 缩略图在标题左边
              li.am-g.am-list-item-desced.am-list-item-thumbed.am-list-item-thumb-left
                .am-u-sm-4.am-list-thumb
                  img.book-cover(src='#{book.bookcover}', alt='我很囧！')
                .info
                  .title #{book.name}
                  .author #{book.author}
            div(style='text-align:center')
              button.am-btn.am-btn-success.am-radius(type='button', style='width:46%') 借阅
              button.am-btn.am-btn-warning.am-radius(type='button', style='width:46%') 收藏
            hr
            .am-tabs.am-margin(data-am-tabs='')
              ul.am-tabs-nav.am-nav.am-nav-tabs
                li.am-active
                  a(href='#tab1') 简介
                li
                  a(href='#tab2') 目录
                li
                  a(href='#tab3') 评论
              .am-tabs-bd(style='touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
                #tab1.am-tab-panel.am-fade.am-active.am-in
                  pre #{book.contentintroduction}
                #tab2.am-tab-panel.am-fade
                  pre #{book.catelogue}
                #tab3.am-tab-panel.am-fade
                  pre
          footer.admin-content-footer
            hr
            p.am-padding-left © 2014 AllMobilize, Inc. Licensed under MIT license.
        // content end
    a.am-icon-btn.am-icon-th-list.am-show-sm-only.admin-menu(href='#')
    // 在这里编写你的代码
    // [if (gte IE 9)|!(IE)] <!
    script(src='../assets/js/jquery.min.js')
    // <![endif]
    //if lte IE 8 
      script(src='http://libs.baidu.com/jquery/1.11.3/jquery.min.js')
      script(src='http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js')
      script(src='assets/js/amazeui.ie8polyfill.min.js')
    script(src='../assets/js/amazeui.min.js')
